.App {
  text-align: center;
  background-color: #244942;
  display: flex;
  background-image: url('./assets/Asset\ 1\ 1.png');
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 55px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}

/* navbar style */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 69px;
}

.menu{
  display: flex;
}

.menu-item{
  width: 189px;
  margin-left: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}

/* title  */

.title{
  font-style: normal;
  font-size: 59px;
  line-height: 73px;
}

.bold{
  font-weight: 600;
}

.scroll-text{
font-weight: 700;
font-size: 27px;
line-height: 33px;
color: #BBBBBB;
margin-top: 29px;
}

.flex {
  display: flex;
  align-items: center;
}

/*  section style */

section {
  min-height: 960px;
  display: flex;
  align-items: flex-end;
}

.rightSide {
  text-align: left;
  width: 500px;
}

.heading{
  font-size: 45px;
  line-height: 56px;
  margin-top: 30px;
}

.subHeading {
  font-weight: 300;
  font-size: 24px;
  line-height: 38px;
  margin-top: 50px;
}

.line{
  width: 0px;
  height: 90px;
  border: 2px solid #B1B1B1;
  margin: 20px;
}

